$color-primary-green: #19515e;
$color-secondary-green: #357376;

$color-primary-orange: #ff7b00;
$color-secondary-orange: #63340f;


$color-primary-white: #FFFFFF;
$color-primary-black: #202124;

$color-secondary-black: #000000;

$color-primary-grey: #727171;
$color-light-grey:#B1B1B1;